modules:
  - class: modules::streams::StreamModule
    config:
      port: ${STREAMS_PORT:31112}
      host: 127.0.0.1
      adapter:
        class: modules::streams::adapters::KvStore
        config:
          store_method: file_based # Options: in_memory, file_based
          file_path: ./data/streams_store.db
        # class: modules::streams::adapters::RedisAdapter
        # config:
        #   redis_url: redis://localhost:6379

  #- class: modules::kv_server::KvServer

  - class: modules::state::StateModule
    config:
      adapter:
        class: modules::state::adapters::KvStore
        config:
          store_method: file_based # Options: in_memory, file_based
          file_path: ./data/state_store.db

  - class: modules::api::RestApiModule
    config:
      port: 3111
      host: 127.0.0.1
      default_timeout: 30000
      concurrency_request_limit: 1024
      cors:
        allowed_origins:
          - http://localhost:3000
          - http://localhost:5173
        allowed_methods:
          - GET
          - POST
          - PUT
          - DELETE
          - OPTIONS

  - class: modules::observability::LoggingModule
    config:
      level: debug
      format: default

      # # adapter:
      # #   class: modules::observability::adapters::RedisLogger
      # #   config:
      # #     redis_url: redis://localhost:6379
      # adapter:
      #   class: modules::observability::adapters::FileLogger
      #   config:
      #     file_path: app.log
      #     save_interval_ms: 5000

  - class: modules::event::EventModule
    config:
      adapter:
        class: modules::event::RedisAdapter
        config:
          redis_url: redis://localhost:6379

  - class: modules::pubsub::PubSubModule
    config:
      adapter:
        class: modules::pubsub::adapters::KvAdapter

  - class: modules::cron::CronModule
    config:
      adapter:
        class: modules::cron::RedisCronAdapter
        config:
          redis_url: redis://localhost:6379

  - class: modules::bridge_client::BridgeClientModule
    config:
      url: ${REMOTE_III_URL:ws://192.168.1.200:49134}
      service_id: bridge-client
      service_name: bridge-client
      # expose:
      #   - local_function: logger.info
      #     remote_function: logger.info

      forward:
        - local_function: remote.kv.get
          remote_function: kv_server.get
          timeout_ms: 5000

        - local_function: remote.kv.set
          remote_function: kv_server.set
          timeout_ms: 5000

        - local_function: remote.kv.delete
          remote_function: kv_server.delete
          timeout_ms: 5000
