modules:
  - class: modules::streams::StreamModule
    config:
      port: 31112
      host: 127.0.0.1
      adapter:
        class: modules::streams::adapters::RedisAdapter
        config:
          redis_url: redis://localhost:6379

  - class: modules::api::RestApiModule
    config:
      port: 3111
      host: 127.0.0.1
      default_timeout: 30000
      concurrency_request_limit: 1024
      cors:
        allowed_origins:
          - http://localhost:3000
          - http://localhost:5173
        allowed_methods:
          - GET
          - POST
          - PUT
          - DELETE
          - OPTIONS

  - class: modules::observability::LoggingModule
    config:
      level: info
      format: default
      adapter:
        class: modules::observability::adapters::RedisLogger
        config:
          redis_url: redis://localhost:6379

  - class: modules::event::EventModule
    config:
      adapter:
        class: modules::event::RedisAdapter
        config:
          redis_url: redis://localhost:6379

  - class: modules::cron::CronModule
    config:
      adapter:
        class: modules::cron::RedisCronAdapter
        config:
          redis_url: redis://localhost:6379

  - class: modules::devtools::DevToolsModule
    config:
      enabled: true
      api_prefix: _console
      metrics_enabled: true
      metrics_interval: 30

  - class: modules::shell::ExecModule
    config:
      watch:
        - src/**/*.ts
      exec:
        - bun src/index.ts
